{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scalable=yes">
	<title>Work Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static './css/about.css' %}">
	<script type="text/javascript" src="{% static './js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	<nav>
		<div class="logo">
			<h1><span class="red">WORK</span>HUB</h1>
		</div>
		<div class="navigations">
			<a href="/">Home</a>
			<a href="/employee_signup">Jobfind</a>
			<a href="/employer_signup">Company</a>
			<a href="/carrier_advice">Carrier</a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
		</div>
		<div class="extra">
			<a href="#"><img src="{% static './asset/img/whatsapp_1.png' %}"></a>
			<a href="#"><img src="{% static './asset/img/instagram_1.png' %}"></a>
			<a href="#"><img src="{% static './asset/img/facebook.png' %}"></a>
			<span class="classico_button">
				<a href="/login">Get Started</a>
			</span>
		</div>
	</nav>
	<header></header>
	<script type="text/javascript">

	</script>
</body>
</html>