{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scalable=yes">
	<title>Work Hub</title>
	<link rel="stylesheet" type="text/css" href="{% static './css/index.css' %}">
	<script type="text/javascript" src="{% static './js/jquery-1.9.1.min.js' %}"></script>
</head>
<body>
	<!--
		Design for desktop displays from 1280×720 through 1920×1080
		Design for mobile displays from 360×640 through 414×896
		Design for tablet displays from 601×962 through 1280×800
	-->
	<nav>
		<div class="logo">
			<h1><span class="red">WORK</span>HUB</h1>
		</div>
		<div class="navigations nav_old">
			<a href="/">Home</a>
			<a href="/employee_signup">JobFind</a>
			<a href="/employer_signup">Company</a>
			<a href="/carrier_advice">Carrier</a>
			<a href="/about">About</a>
			<a href="/contact">Contact</a>
		</div>
		<div class="extra">
			<a href="#" class="social_social"><img src="{% static './asset/img/whatsapp_1.png' %}"></a>
			<a href="#" class="social_social"><img src="{% static './asset/img/instagram_1.png' %}"></a>
			<a href="#" class="social_social"><img src="{% static './asset/img/facebook.png' %}"></a>
			<span class="classico_button">
				<a href="/login">Get Started</a>
			</span>
			<a href="#" id="menu_drop"><img src="{% static './asset/img/menu_tab.png' %}" class="menu_tab"></a>
		</div>
	</nav>
	<section class="navigation_drop_down">
		<a href="/">Home</a>
		<a href="/employee_signup">JobFind</a>
		<a href="/employer_signup">Company</a>
		<a href="/carrier_advice">Carrier</a>
		<a href="/about">About</a>
		<a href="/contact">Contact</a>
	</section>
	<div style="height: 62.5px;"></div>
	<header>
			<div class="header_article">
				<h1>TAKE A HOLD<br> OF YOUR <span class="red">CARRIER</span></h1>
				<p>Lorem ipsum dolor sit amet, cons ecte tur adipis icing elit, sed do eiusmod
				tempor incid idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nos trud exerci tation ull amco laboris nisi ut aliquip ex ea commodo
				conseq uat.</p>
				<div class="header_links">
					<a href="/Login">Sign-In</a>
					<a href="/carrier_advice">Carrier Advise</a>
				</div>
			</div>
			<div class="header_image">
				<img src="{% static './asset/img/nic_5.png' %}" id="first_hide">
				<img src="{% static './asset/img/nic_.png' %}" id="second_hide">
			</div>

		</header>
	<section class="feature_background">
		<section class="feature_title">
			<h1><span class="black">EXPLORE</span> ALL YOU CAN DO <span class="black">WITH WORKHUB</span></h1>
			<p>Uniting traditional booking keeping with automated transactions, we're'bringing financial accounting back to life!</p>
		</section>
		<section class="feature">
			<div class="single">
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Ledger System</h3>
                    <p> Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Financials</h3>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Auditing</h3>
                    <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Taxation</h3>
                    <p> Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Assets and Liabilities</h3>
                    <p> Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Financial Insight and Growth</h3>
                    <p> Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Smart Predictive Models</h3>
                    <p> Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
                </div>
                <div class="single_feature">
                    <img src="{% static './asset/img/checklist.png' %}">
                    <h3>Expense Management</h3>
                    <p> Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
                </div>
            </div>
		</section>
		</section>
	<section class="services">
			<div class="services_article">
				<h1>WHAT <br> SERVICES DO <br><span class="red"> WE OFFER?</span></h1>
				<p>Are you an employer or an employee? Join the race in recruiting or joining your first job with WorkHub.
					Provided at a zero fee plan, get unlimited access to the professional working class right on your
					bed.
				</p>
				<div class="services_links">
					<a href="/employer_signup">Employer</a>
					<a href=/employee_signup">Employee</a>
				</div>
			</div>
			<div class="services_image">
				<div class="one_enti">
					<div class="two_enti">
						<img src="{% static './asset/img/accountant2.jpg' %}">
					</div>
				</div>
			</div>
		</section>
	<section class="team_title">
        <h1><span class="black">OUR</span> TEAM</h1>
			<p>Uniting traditional booking keeping with automated transactions, we're'bringing your carrier back to life!</p>
		</section>
	<section class="team">
			<div class="single_team">
				<img src="{% static './asset/img/accountant1.jpg' %}">
				<h3>Miller Jonathan</h3>
				<p>CEO Frapacio</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant2.jpg' %}">
				<h3>Luis Katherine</h3>
				<p>Executive Manager</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant3.jpg' %}">
				<h3>Bill Anderson</h3>
				<p>Project Manager</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant4.jpg' %}">
				<h3>Kamron James</h3>
				<p>HR Manager</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
			<div class="single_team">
				<img src="{% static './asset/img/accountant1.jpg' %}">
				<h3>Miles Moralis</h3>
				<p>Senior Developer</p>
				<span class="team_social">
					<img src="{% static './asset/img/f1.png' %}">
					<img src="{% static './asset/img/f3.png' %}">
					<img src="{% static './asset/img/f2.png' %}">
					<img src="{% static './asset/img/f4.png' %}">
				</span>
			</div>
		</section>
	<section class="contact_title">
			<h1>NEED TO GET IN TOUCH WITH <span class="red">US</span></h1>
			<p>Uniting traditional booking keeping with automated transactions, we're'bringing financial accounting back to life!</p>
		</section>
	<section class="contact">
			<div class="contact_tab_one">
				<img src="{% static './asset/img/f4.png' %}">
				<h1>Talk to sales</h1>
				<p>Give us a call if you need help </p>
				<p>picking a Frapacio product</p>
				<br>
				<p>Call <strong class="bolder">+234-704-681-0016</strong></p>
				<p>Mon-Fri,5 AM to 6 PM PT</p>
			</div>
			<div class="contact_tab_two">
				<img src="{% static './asset/img/f4.png' %}">
				<h1>Visit our support up</h1>
				<p>Find help articles, video tutorials and connect </p>
				<p>with other businesses in our online community</p>
				<div class="contact_links">
					<a onclick="display_community()">community & support</a>
					<a href="#">Contact Us</a>
				</div>
			</div>
		</section>
	<footer class="footer">
	        <ul>
	            <li><a href="#">About</a></li>
	            <li><a  onclick="display_community()">Community</a></li>
	            <li><a href="#">Career</a></li>
	            <li><a href="#">Policy</a></li>
	            <li><a href="#">Contact</a></li>
	          </ul>
	    </footer>
	<div id="social_communities">
		<span class="social_header">
			<h1>JOIN OUR SOCIAL <span class="red">COMMUNITIES</span></h1>
			<h2 class="red"><a onclick="remove_community()">(exit)</a></h2>
		</span>
		<div class="social_tab">
			<div class="single_social">
				<img src="{% static './asset/img/whatsapp_1.png'%}">
				<h2>Whatsapp</h2>
			</div>
			<div class="single_social">
				<img src="{% static './asset/img/facebook.png'%}">
				<h2>FaceBook</h2>
			</div>
			<div class="single_social">
				<img src="{% static './asset/img/instagram_1.png'%}">
				<h2>Instagram</h2>
			</div>
			<div class="single_social">
				<img src="{% static './asset/img/telegram.png'%}">
				<h2>Telegram</h2>
			</div>
		</div>
	</div>
	<div id="hideAll">&nbsp</div>
	<script type="text/javascript">
		window.onload = function(){
			document.getElementById("hideAll").style.display = "none";
		}

		var super_count = 0;
		$("#menu_drop").on("click", function()
		{
			if(super_count == 0)
			{
				super_count = 1;
				let eken = document.querySelector(".navigation_drop_down");
				eken.style = "flex !important;";
				$(".navigation_drop_down").css({"height": "90%", "width": "100%", "position": "fixed", "left": "0px"});
			}

			else
			{
				super_count = 0;
				let eken = document.querySelector(".navigation_drop_down");
				eken.style = "none !important;";
			}

		});

		function display_community()
		{
			document.getElementById("social_communities").style.display = "flex"
		}

		function remove_community()
		{
			document.getElementById("social_communities").style.display = "none"
		}

		$(document).ready(function(){
			setInterval(function(){
			    if(window.innerWidth > 930)
			    {
			        $(".navigation_drop_down").css({"display": "none"})
			    }
			});
		});

	</script>
</body>
</html>